USE [MeslekWeb]
GO
/****** Object:  Table [dbo].[Meslekler]    Script Date: 20.03.2024 10:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meslekler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](max) NULL,
	[Ad] [nvarchar](max) NULL,
 CONSTRAINT [PK_Meslekler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Meslekler] ON 

INSERT [dbo].[Meslekler] ([ID], [Kod], [Ad]) VALUES (1, N'0110.00', N'Subaylar')
INSERT [dbo].[Meslekler] ([ID], [Kod], [Ad]) VALUES (2, N'0110.01', N'Genel Kurmay Başkanı')
INSERT [dbo].[Meslekler] ([ID], [Kod], [Ad]) VALUES (3, N'0110.02', N'Mareşal(Kara Kuvvetleri)')
GO
SET IDENTITY_INSERT [dbo].[Meslekler] OFF
GO
